* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-image: url("https://images.unsplash.com/photo-1515542706656-8e6ef17a1521?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.header {
    background-color: black;
    color: white;
    text-align: center;
    width: 80%;
    margin: 20px auto;
    border: 2px solid wheat;
}

.header h2 {
    font-weight: 300;
    margin: 5px auto;
}

.main-content {
    background-color: rgba(252, 241, 220, 0.952);
    height: 40%;
    width: 100%;
    border-radius: 15px;
    box-shadow: 2px 4px 0 rgba(0, 0, 0, .3);
    text-align: center;
}

.text-area {
    padding: 30px;
    word-spacing: 2px;
}

.person {
    font-size: 20px;
    font-weight: 200;
    color: rgb(151, 5, 5);
    margin: 10px auto;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.btn {
    color: wheat;
    background-color: black;
    padding: 8px 10px;
    border-radius: 5px;
    margin: 10px auto;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.911);
}